@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body{
    margin: 0;
    height: 180vh;
    overflow: hidden;
}
#beetwen::-webkit-scrollbar{
    display: none;
}
#left_menu_scroll{
    transition: all 1s;
    position: fixed;
    left: 39%;
    /* left: calc(1.4 * -12vw); */
    top: -130%;
    border-radius: 10px 10px 10px 10px;
    width: 23.33vw;
    height: 53vh;
    opacity: 0;
    background-color: rgb(255, 0, 0);
    min-height: 53vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
#left,#right{
    height: 180vh;
    width: 20%;
    background-color: rgb(0, 0, 0);
    }
    #beetwen{
        height: 100vh;
        width: 60%;
        background-color: rgb(0, 0, 0);
        border: 1px solid #2F3336;
    }
    #top_beetwen{
        height: 50px;
        width: 99.8%;
        border: 1px solid #2F3336;
        border-bottom: 0px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #E7E9EA;
        font-family: "Source Code Pro", monospace;
        font-size: 1em;
    }
    
    
    .mid{
    display: flex;
    height: 180vh;
    width: 100%;
    }
    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .profile > img{
        height: 86.45px;
        width: 86.45px;
        cursor: pointer;
        min-width: 86.45px;
        min-height: 86.45px;
    }
    #Profil{
      color: #E7E9EA;
      font-size: 1em;
      font-family: "Source Code Pro", monospace;
      
    
    }
    #left_menu{
        width: 199.5px;
        display: flex;
        flex-direction: column;
        float: right;
    }
    
    .Options{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #E7E9EA;
        font-family: "Source Code Pro", monospace;
        cursor: pointer;
    }
    #option_class{
        margin-left: 2%;
        height: 55.45px;
        width: 55.45px;
        margin-right: 10px;
        margin-left: 5%;
    }
    #Opcje{
    font-size: 1em;
    }
.ss{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    opacity: 0.9;
    background-color: rgb(0, 0, 0);
    transition: all 1s;
    filter:blur(100%);
    z-index: 1;
}
#main_leftmenu{
    border-radius: 10px 10px 0px 0px;
    float: left;
    width: 100%;
    background-color: rgb(43, 43, 43);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left_leftmenu{
height: 100px;
background-color: rgb(26, 26, 26);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 0px;
}
#big_click{
    width:60px; 
    height:30px;
    background-color:gainsboro;
    border-radius:50px 50px 50px 50px;
    -moz-border-radius:50px 0px 0px 50px;
}
#little_click{
position: relative;
left: 2px;
top: 2.7px;
width:25px;
height:25px;
background-color:rgb(0, 0, 0);
border-radius:75px;
-moz-border-radius:75px;
transition: all 1s;
}
.kk{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    opacity: 0.9;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    transition: all 1s;
}
.login {
    z-index: 2;
    transition: all 1s;
    position: fixed;
    left: 39%;
    top: -130%;
    border-radius: 10px 10px 10px 10px;
    width: 23.33vw;
    height: 42vh;
    opacity: 0;
    background-color: rgb(15, 13, 13);
    min-height: 42vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}
.login > img{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}
#name1{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #E7E9EA;
    box-sizing: border-box;
    border-radius: 3px;
    border-radius:50px 50px 50px 50px;
    -moz-border-radius:50px 0px 0px 50px;

}
#Login_name{
    margin-left: auto;
    margin-right: auto;
    color: #E7E9EA;
}
#password{
    width: 200px;
    margin-left: auto;
    margin-right: auto; 
    border: 3px solid #E7E9EA;
    box-sizing: border-box;
    border-radius: 3px;
    border-radius:50px 50px 50px 50px;
    -moz-border-radius:50px 0px 0px 50px;

}
#password_name{
    margin-left: auto;
    margin-right: auto;
    color: #E7E9EA;
}
#submit{
    margin-top: 50px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius:50px 50px 50px 50px;
    -moz-border-radius:50px 0px 0px 50px;
}
.login > h3{
    margin-left: auto;
    margin-right: auto;
    color: #E7E9EA;
}
.register{
    transition: all 1s;
    position: fixed;
    left: 39%;
    top: -130%;
    border-radius: 10px 10px 10px 10px;
    width: 23.33vw;
    height: 42vh;
    opacity: 0;
    background-color: rgb(15, 13, 13);
    min-height: 42vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.register > img{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}
#Haslo{
    width: 200px;
    margin-left: auto;
    margin-right: auto; 
    border: 3px solid #E7E9EA;
    box-sizing: border-box;
    border-radius: 3px;
    border-radius:50px 50px 50px 50px;
    -moz-border-radius:50px 0px 0px 50px; 
}
#Login{
    margin-left: auto;
    margin-right: auto;
    color: #E7E9EA;
}
#register{
    margin-top: 50px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius:50px 50px 50px 50px;
    -moz-border-radius:50px 0px 0px 50px;
}
#name{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #E7E9EA;
    box-sizing: border-box;
    border-radius: 3px;
    border-radius:50px 50px 50px 50px;
    -moz-border-radius:50px 0px 0px 50px;

}
#password_name1{
    margin-left: auto;
    margin-right: auto;
    color: #E7E9EA;
}
#Napis_login{
    margin-left: auto;
    margin-right: auto;
    color: #E7E9EA;
}
#right{
    overflow: hidden;
}
#right > img{
   position: relative;
top: 4.22%;
   right: 76.5%;
   z-index: 0;
}
#Home_page > img{
    height: 3.5vh;
    width: 2vw;  
}
#Home_page{
    height: 4vh;
    width: 2vw;
    position: absolute;
    top: 8.5%;
    color: #E7E9EA;
    display: flex;
    transition: 1s all;
    left: -100%;
}
#cl{
    position: relative;
    top: 38%;
    font-family: "Source Code Pro", monospace;
    left: 20%;
}
#beetwen_high{
    border-bottom: 1px solid #2F3336;
    height: 4vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#higher_mid{
    height: 30%;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
}

#profil_beetwen_down{
    height: 30%;
    width: 10%;
    border-radius: 100%;
    border: 6px solid #000000;
    background-size: 100% 100%;
    position: relative;
    top: 80%;
    left: 1%;
    
}
#beetwen_down{
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;

}
#Log_out{
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;
    float: right;
    font-size: 18px;
}
#Log_out:hover{
    color: #2F3336;
}
#Higher{
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;
    height: 8%;
    display: flex;
    margin-top: 5%;
    gap: 2%;

}
#Higher_bottom{
    height: 3vh;
    width: 100%;
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;
    border-bottom: 1px solid #2F3336;
    display: flex;
    align-items: center;
}
#Images,#Media,#Posts{
margin-left: 5%;

}
#Images:hover,#Posts:hover,#Media:hover{
    color: #2F3336;
}
#beetwen_down{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 11%;
}
#beetwen_bootom{
    width: 100%;
    height: 100%;
}
.g{
height: 12%;
width: 12%;
border-radius: 10%;
background-color: aqua;  
float: left; 
margin-top: 0.5%;
border: 3px solid #2F3336;
}
.gallery_photo1{
    background-image: url(zdjecia/las.png);
    margin-right: 12px;
    margin-left: 24%;
}
.gallery_photo2{
    background-image: url(zdjecia/lotnisko.png);
    margin-right: 12px;
}
.gallery_photo3{
    background-image: url(zdjecia/morze.png);
    margin-right: 12px;
}
.gallery_photo4{
    background-image: url(zdjecia/góry.png);
}
.big{
    height: 35%;
    width: 50%;
    border-radius: 5%;   
    position: relative;
    top: 13.5%;
    left: 25%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.home > img{
    height: 48.45px;
    width: 48.45px;
    margin-top: 5%;
    margin-left: 21.1%;
}
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;
}
#tak{
    margin-top: 6%;
    margin-left: 7%;
}
.gallery_photos_after_refresh{
    position: relative;
    top: -100%;
}
.napis_posty{
    position: relative;
    top: -100%;
}
.napis_posty_po{
    font-family: "Source Code Pro", monospace;
    color: #E7E9EA;
    position: relative;
    top: 21%;
    left: 47.2%;
}
.ll{
    position: relative;
    top: -100%;
}
.ADD_POSTS > img{
    height: 48.45px;
    width: 48.45px;
    margin-top: 9%;
    margin-left: 21.1%;
}
.ADD_POSTS{
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;
    display: flex;
    align-items: center;
}
#POST_ADD_TEXT{
    margin-top: 8%;
    margin-left: 7%;
}
.dodawanie_posts{
    height: 40%;
    width: 30%;
    border-radius: 5%;
    background-color: #2F3336;
    position: absolute;
    top: -100%;
    left: 35%;
}
#napis_add_posts{
    color: #E7E9EA;
    font-family: "Source Code Pro", monospace;
    margin-left: 32%;
    font-size: large;
}
#wpis_posty{
    background-color: #2F3336;
    border: 0px;
    resize: none;
    max-width: 100%;
}
.srodek{
    height: 80%;
}
.dol{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: "Source Code Pro", monospace;
  border-radius: 6px;
  border: none;

  background: #26292b;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.posty_profil{
    width: 99.99%;
    height: 15%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column-reverse;
    font-family: "Source Code Pro", monospace;
    border-top: 1px #2F3336 solid;
    border-bottom: 1px #2F3336 solid;
    color: #E7E9EA;
    margin-bottom: 15px;
}
.posty_description{  
    width: 100%;
    height: 80%;
}
.nick_posty_profil{
    font-size: larger;
    margin-bottom: 9px;
}